name: bench

on:
  workflow_dispatch:
  schedule:
    - cron: "32 9 * * *"

jobs:
  benchee:
    runs-on: ubuntu-latest

    env:
      MIX_ENV: bench

    steps:
      - uses: actions/checkout@v6

      - id: beam
        uses: erlef/setup-beam@v1
        with:
          elixir-version: 1
          otp-version: 27

      - uses: actions/cache@v5
        with:
          path: |
            deps
            _build
          key: bench-${{ steps.beam.outputs.elixir-version }}-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            bench-${{ steps.beam.outputs.elixir-version }}-${{ github.head_ref || github.ref }}-
            bench-${{ steps.beam.outputs.elixir-version }}-refs/heads/master-

      - run: mix deps.get --only $MIX_ENV
      - run: mix compile

      - run: mix run bench/build.exs
      - run: mix run bench/xml.exs
