name: mix

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: "53 8 * * *"

jobs:
  test:
    name: "test (elixir=${{ matrix.elixir }} / otp=${{ matrix.otp }}${{ matrix.dialyzer && ' +dialyzer' || '' }}${{ matrix.lint && ' +lint' || '' }})"
    runs-on: ubuntu-latest

    env:
      MIX_ENV: test

    strategy:
      matrix:
        include:
          - elixir: 1.16
            otp: 25
          - elixir: 1.19
            otp: 28
            dialyzer: true
            lint: true

    steps:
      - uses: actions/checkout@v6

      - id: beam
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore deps cache
        uses: actions/cache@v5
        with:
          path: |
            deps
            _build
          key: test-${{ steps.beam.outputs.elixir-version }}-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            test-${{ steps.beam.outputs.elixir-version }}-${{ github.head_ref || github.ref }}-
            test-${{ steps.beam.outputs.elixir-version }}-refs/heads/master-

      - run: mix deps.get --only $MIX_ENV
        if: ${{ !matrix.lint }}

      - run: mix deps.get --check-locked
        if: ${{ matrix.lint }}

      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix compile --warnings-as-errors

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: docker run -d -p 9000:9000 minio/minio server /data
      - run: aws --endpoint-url http://127.0.0.1:9000/ s3 mb s3://testbucket
        env:
          AWS_ACCESS_KEY_ID: minioadmin
          AWS_SECRET_ACCESS_KEY: minioadmin
          AWS_EC2_METADATA_DISABLED: true

      - run: mix test
      - run: mix test --only minio
        env:
          MINIO_REGION: us-east-1
          MINIO_ACCESS_KEY: minioadmin
          MINIO_SECRET_KEY: minioadmin
          MINIO_ENDPOINT_URL: http://127.0.0.1:9000

      # TODO
      # - run: mix test --only r2
      #   env:
      #     R2_ACCESS_KEY: ${{ secrets.R2_ACCESS_KEY }}
      #     R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
      #     R2_ENDPOINT_URL: ${{ secrets.R2_ENDPOINT_URL }}

      - name: Restore PLTs cache
        if: ${{ matrix.dialyzer }}
        uses: actions/cache@v5
        with:
          path: plts
          key: plts-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ github.head_ref || github.ref }}
          restore-keys: |
            plts-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-refs/heads/master

      - run: mix dialyzer --format github
        if: ${{ matrix.dialyzer }}
